---
extends: default

# ignore: |

# https://yamllint.readthedocs.io/en/stable/configuration.html
rules:
  line-length:
    max: 160
  document-start:
    present: true
  indentation:
    level: error
    indent-sequences: consistent
  trailing-spaces:
    # editorconfig handles this
    level: warning
  comments-indentation: disable
